<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcc.main">

    <application
        android:name="com.tcc.main.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.tcc.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.tcc.bebedouro.activity.CadastrarBebedouroActivity" android:parentActivityName="com.tcc.bebedouro.activity.ListarBebedouroActivity">
        </activity>
        <activity android:name="com.tcc.fazenda.activity.CadastrarFazendaActivity" android:parentActivityName="com.tcc.main.MainActivity">
        </activity>
        <activity android:name="com.tcc.animal.activity.ListarAnimaisActivity" android:parentActivityName="com.tcc.main.MainActivity">
        </activity>
        <activity android:name="com.tcc.bebedouro.activity.ListarBebedouroActivity" android:parentActivityName="com.tcc.main.MainActivity">
        </activity>
        <activity android:name="com.tcc.fazenda.activity.MostrarFazendaActivity" android:parentActivityName="com.tcc.main.MainActivity">
        </activity>
        <activity android:name="com.tcc.animal.activity.CadastrarAnimalActivity" android:parentActivityName="com.tcc.animal.activity.ListarAnimaisActivity">
        </activity>

        <activity android:name="com.tcc.invernada.activity.MostrarInvernadaActivity" android:parentActivityName="com.tcc.invernada.activity.ListarInvernadaActivity">
        </activity>
        <activity android:name="com.tcc.invernada.activity.CadastrarInvernadaActivity" android:parentActivityName="com.tcc.invernada.activity.ListarInvernadaActivity">
        </activity>
        <activity android:name="com.tcc.invernada.activity.ListarInvernadaActivity" android:parentActivityName="com.tcc.main.MainActivity">
        </activity>

        <activity android:name="com.tcc.relatorio.activity.ListarRelatorioPorFazendaActivity" android:parentActivityName="com.tcc.main.MainActivity">
        </activity>

        <activity android:name="com.tcc.relatorio.activity.MostrarRelatorioActivity" android:parentActivityName="com.tcc.relatorio.activity.ListarRelatorioPorFazendaActivity">
        </activity>
    </application>

</manifest>